.idea/
*.iml
target/
node_modules/
.DS_Store
mytests
lib/
# Ignore Gradle Cache and Build dirs
.gradle/
build/
out/
bin/

# Ignore compiled Java classes
*.class

# Ignore IntelliJ/IDE specific files
*.iws
*.ipr